@{
    Layout = null;
    var cusName = Context.Session.GetString("cusName");
    var cusID = Context.Session.GetInt32("cusID");
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<WebApplication2.Models.Order>
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani-My Order</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/LayoutOgani/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutOgani/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutOgani/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutOgani/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutOgani/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutOgani/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutOgani/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutOgani/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="../LayoutOgani/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>

                            <div class="header__top__right__language">
                                @if (string.IsNullOrEmpty(cusName)) 
                                {
                                    <div>Account</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a asp-controller="Access" asp-action="Login">Login</a></li>
                                    </ul>
                                }
                                else 
                                {
                                    <div>@cusName</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a asp-controller="Access" asp-action="Logout">Logout</a></li>
                                    </ul>
                                }
                            </div>

                            @* <div class="header__top__right__auth">
                                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> Account</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-controller="Home" asp-action="Index"><img src="../LayoutOgani/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Shop" asp-action="ViewShop">Shop</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Blog</a></li>
                            <li class="active">
                                <a href="#">My Account</a>
                                <ul class="header__menu__dropdown">
                                    <li><a asp-controller="Cart" asp-action="ViewCart" asp-route-cusId="@cusID">My Cart</a></li>
                                    <li><a href="./shoping-cart.html">My Profile</a></li>
                                    <li><a asp-action="Orders" asp-controller="Orders">My Orders</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a asp-controller="Cart" asp-action="ViewCart" asp-route-cusId="@cusID"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <h2 class="text-center">ĐƠN HÀNG CỦA BẠN</h2>

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            @foreach (var order in Model)
            {
                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="candidate-list">
                                <div class="candidate-list-box card mt-4 mb-4" style="box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);">
                                    <div class="p-4 card-body">
                                        <div class="align-items-center row">
                                            <div class="col-lg-5 fs-3">
                                                <div class="candidate-list-content mt-3 mt-lg-0">
                                                <p class="text-warning">Mã đơn hàng: @order.OrderId</p>
                                                <p class="text-muted mb-2" style="font-size:18px">@order?.Ship.CusName</p>
                                                    <ul class="list-inline mb-0 text-muted fs-3">
                                                        <li class="list-inline-item">
                                                            <i class="mdi mdi-map-marker"></i>Order date: @order.OrderAdd
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 fs-3">
                                            <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1" >
                                                <span class="badge bg-soft-secondary  mt-1">@order?.Payment.PaymentMethod</span><span class="badge bg-soft-secondary  mt-1">@order?.Ship.ShipAddress</span>
                                            </div
                                             <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                                <span class="badge bg-soft-secondary  mt-1">Delivery date</span><span class="badge bg-soft-secondary  mt-1">@order?.Payment.PaymentDate</span>
                                            </div>
                                            <div class="col-lg-2 fs-2 fw-bolder">
                                                <p>Total Price: @order.OrderTotalprice VND</p>
                                            </div>
                                        </div>
                                        
                                        <div class="favorite-icon position-absolute" style="right: 22px; top: 22px;">
                                                @if(@order?.Ship.ShipState == "Delivering")
                                                {     
                                                    <p class="text-success" style="display: inline-block; font-size: 18px;line-height: 30px;text-align: center">@order?.Ship.ShipState</p>
                                                }
                                                @if(@order?.Ship.ShipState == "Rejected")
                                                {     
                                                    <p class="text-danger" style="display: inline-block; font-size: 18px;line-height: 30px;text-align: center">@order?.Ship.ShipState</p>
                                                }
                                                @if(@order?.Ship.ShipState == "Fulfilled")
                                                {     
                                                    <p class="text-success" style="display: inline-block; font-size: 18px;line-height: 30px;text-align: center">@order?.Ship.ShipState</p>
                                                }
                                                @if(@order?.Ship.ShipState == "Preparing")
                                                {     
                                                    <p class="text-warning" style="display: inline-block; font-size: 18px;line-height: 30px;text-align: center">@order?.Ship.ShipState</p>
                                                }
                                            <p><a asp-action="OrderDetails" asp-controller="Orders" asp-route-orderId="@order.OrderId" class="text-primary">Order detail</a></p>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </section>
            }
            <div class="col-12 text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @Html.PagedListPager(Model, page => Url.Action("Orders", new { page = page }),
                         new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
            </ul>
        </nav>
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/LayoutOgani/js/jquery-3.3.1.min.js"></script>
    <script src="~/LayoutOgani/js/bootstrap.min.js"></script>
    <script src="~/LayoutOgani/js/jquery.nice-select.min.js"></script>
    <script src="~/LayoutOgani/js/jquery-ui.min.js"></script>
    <script src="~/LayoutOgani/js/jquery.slicknav.js"></script>
    <script src="~/LayoutOgani/js/mixitup.min.js"></script>
    <script src="~/LayoutOgani/js/owl.carousel.min.js"></script>
    <script src="~/LayoutOgani/js/main.js"></script>


</body>

</html>