@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
    var cusID = Context.Session.GetInt32("cusID");
}

@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<WebApplication2.Models.Product>
@foreach(var item in Model)
{
    //@await Html.PartialAsync("PartialProduct", item)
    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
        <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="../LayoutOgani/img/featured/@item.ProductImg" style="background-image: url(&quot;img/featured/feature-1.jpg&quot;);">
                <ul class="featured__item__pic__hover">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-inbox"></i> @item.ProductQuantity</a></li>
                    @* <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li> *@
                    <li>
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <input type="hidden" name="cusID" value="@cusID" />
                            <input type="hidden" name="quantity" value="1" />
                            <button type="submit" class="add-to-cart-btn">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="featured__item__text">
                <h6><a asp-controller="home" asp-action="productdetail" asp-route-productID="@item.ProductId">@item.ProductName</a></h6>
                <h5>@item.ProductPrice VND/KG</h5>
            </div>
        </div>
    </div>
}

<div class=" col-6 text-center">
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions {
               LiElementClasses = new string[] { "page-item" },
               PageClasses = new string[] { "page-link" }
            })
        </ul>
    </nav>
</div>

